.task__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 3px;
    box-shadow: 1px 1px 10px #000000;
    background-color: rgba(113, 102, 25, 0.30);
}

.task__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

.task__index {
    margin-left: 10px;
}

.task__input {
    background-color: rgba(229, 229, 229, 0.51);
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
}

.task__title {
    margin-left: 20px;
}

.task__button_edit {
    border: none;
    border-radius: 5px;
    background-color: rgba(27, 85, 79, 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 10px;
}

.task__button_edit:hover {
    background-color: rgba(48, 154, 144, 0.8);
    color: #ffffff;
}

.task__button_close {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(99, 17, 17, 0.90);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 10px;
}

.task__button_close:hover {
    background-color: rgba(156, 26, 26, 0.9);
    color: #ffffff;
}

.task__done {
    text-decoration: line-through;
}