.addTaskForm__form {
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    max-width: 600px;
    padding: 10px;
}

.addTaskForm__form input {
    outline: none;
    padding: 3px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

.addTaskForm__form button {
    border: none;
    border-radius: 5px;
    background-color: rgba(27, 85, 79, 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 10px;
}

.addTaskForm__form button:hover {
    background-color: rgba(48, 154, 144, 0.8);
    color: #ffffff;
}