@import '../../scss/mixins';
@import '../../scss/colors';

.tasks-page {
  height: 89vh;
  background-color: $light-grey;

  .container {
    @include container(0 auto, 600px, 100%, block, unset, unset);

    .tasks-action-panel {
      padding: 10px 0;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid black;
    }
  }
}